.mainDiv{
  border: 1px solid black;
  width: 40%;
  margin: 100px auto;
  height: 400px;
}

.inputDiv{
  margin: 30px 0;
}

.inputDiv input {
  width: 90%;
  padding: 10px;
}

.submit-btn {
  width: 95%;
  padding: 10px;
  font-size: 20px;
}

/* 
  @media (max-width: 998px) {
    .register_container form {
      width: 50%;
      padding: 8%;
      margin-top: 4%;
    }
  }
  
  @media (max-width: 835px) and (min-width: 798px) {
    .register_container form {
      width: 70%;
      padding: 8%;
      margin-top: 6%;
    }
  }
  @media (max-width: 798px) {
    .register_container form {
      width: 60%;
      padding: 8%;
      margin-top: 7%;
    }
  }
  @media (max-width: 520px) {
      .register_container form {
              width: 80%;
              padding: 8%;
              margin-top: 10%;
          }
  } */